{% extends "../../home/base.html" %}
{% block title %}Log-in
{% endblock %}
{% block content %}
    <header class="masthead">
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="text-white mt-0">Precisamos de mais informações:</h2>
                        <hr class="divider"/>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p>Desculpe, encontramos alguns erros:</p>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            {{ field.label }}:
                                            {{ field.errors|striptags }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}


                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                {{ form.cpf }}
                                <label class="text-muted">CPF</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                {{ form.phone_number }}
                                <label class="text-muted">Contato</label>
                                <div class="invalid-feedback">An email is required.</div>
                                <div class="invalid-feedback">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                {{ form.cep }}
                                <label class="text-muted">CEP</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Digite uma senha</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{ form.address_line_1 }}
                                <label class="text-muted">Rua</label>
                                <div class="invalid-feedback">Senha</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{ form.address_line_2 }}
                                <label class="text-muted">Bairro</label>
                                <div class="invalid-feedback">Senha</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{ form.city }}
                                <label class="text-muted">Cidade</label>
                                <div class="invalid-feedback">Senha</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{ form.district }}
                                <label class="text-muted">Estado</label>
                                <div class="invalid-feedback">Senha</div>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-xl" type="submit">Continuar Compra</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>
    </header>
    

{% endblock %}
