{% extends "../../home/base.html" %}
{% block title %}Log-in
{% endblock %}
{% block content %}
    <header class="masthead">
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="text-white mt-0">Compre agora na pré-venda!</h2>
                        <hr class="divider"/>
                        <p class="text-white mb-5">Com a pré venda você garante seu projeto com 20% de desconto!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p class="text-white">Desculpe, encontramos alguns erros:</p>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            {{ field.label }}:
                                            {{ field.errors|striptags }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}


                            <!-- Email address input-->
                            <label class="form-label text-white">{{ form.email.label }}</label>
                            <div class="form-floating mb-3">
                                {{ form.email }}
                                <label for="email" class="text-muted">Email</label>
                            </div>
                            <!-- Phone number input-->
                            <label class="form-label text-white">{{ form.password.label }}</label>
                            <div class="form-floating mb-3">
                                {{ form.password }}
                                <label class="text-muted">Senha</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Digite uma senha</div>
                            </div>
                            <!-- Message input-->
                            <label class="form-label text-white">{{ form.password2.label }}</label>
                            <div class="form-floating mb-3">
                                {{ form.password2 }}
                                <label class="text-muted">Repita sua senha</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-xl" type="submit">Compre agora!</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </section>
    </header>

{% endblock %}
