{% extends "./base.html" %}
{% load static %}
{% block title %}CASA 15
{% endblock %}
{% block content %}


    <main>
        <body
            id="page-top">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#page-top">CASA 15</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#how">Como?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio">Imagens</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Comprar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Masthead-->
            <header class="masthead">

                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-white font-weight-bold">
                                <b>Casa 15</b>
                            </h1>
                            <h2 class="text-white font-weight-bold mb-5">Uma Casa por 15 mil reais!</h2>
                            <hr class="divider mb-5"/>
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <div class="text-white-75 mb-5">
                                <p>Já pensou em sair do aluguel? Realize seu sonho!</p>
                                <p>Com ateriais de primeira qualidade, você mesmo pode construir!</p>
                                <p>Além de tudo é ampliável verticalmente e cabe em meio lote/ sobrado.</p>
                            </div>
                            <a class="btn btn-primary btn-xl" href="#how">
                                Descubra Como!</a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="page-section" style="padding-bottom: 100px;" id="how">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Como?</h2>
                        <h3 class="section-subheading text-muted mb-5">São 3 passos importantes para realizar o seu sonho...</h3>
                    </div>
                    <ul class="timeline mt-3">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/icons/lote.jpg' %}" alt="..."></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading mt-3">
                                    <h4>Possua um terreno!</h4>
                                    <h5 class="subheading"></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">6,00m x 15,50m<br>Meio lote / Sobrado<br>Em um lote você pode construir duas casas!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/icons/project.jpg' %}" alt="..."></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading mt-3">
                                    <h4>Compre o projeto CASA15</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Além do projeto arquitetônico e dos projetos complementares, você vai receber um manual para construção da sua casa própria</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/icons/lego.jpg' %}" alt="...">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading mt-3">
                                    <h4>Siga as instruções do projeto</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Com o projeto CASA 15 você mesmo pode executar sua obra, é tão fácil quanto montar lego com técnicas construtivas simplificadas o custo da execução é reduzido drásticamente.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" style="border: 0; height: 80px"><img class="img-fluid" style="width: 120px;" src="{% static 'assets/img/icons/house.png' %}" alt="..."></div>
                            <div class="timeline-panel"></div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Portfolio-->
            <div id="portfolio">
                <div class="container px-4 px-lg-5 pb-5">
                    <h2 class="text-center mt-0">Realize seu sonho!</h2>
                    <hr class="divider"/>
                    <h3 class="section-subheading text-muted text-center">A CASA 15 é composta por:</h3>
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/jantar.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Sala Jantar</h3>
                                <p class="text-muted mb-0">2,50x3,20 Com bancada integrada à cozinha e sala de estar. É o compartimento de acesso à casa. Logo na entrada um aparador com bar e parede com iluminação decorativa direcionada. A bancada pode ser móvel sendo alterada a posição da mesa para 04 pessoas de acordo com a ocasião. Área de 8,01m².</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/estar.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Sala Estar</h3>
                                <p class="text-muted mb-0">2,63x2,18 Integrada com a sala de jantar, área: 5,64m². O layout foi disposto de modo que a circulação não permita a interferência de passantes em frente à televisão. Área de 5,64m².</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/kitchen.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Cozinha</h3>
                                <p class="text-muted mb-0">1,50x3,88 Layout em “L” com a pia posicionada em um ponto que impeça a visualização da louça do almoço. Acesso pela sala de jantar ou área de serviço.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/bwc.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Banheiro</h3>
                                <p class="text-muted mb-0">1,75x1,88 Espaçoso, disposto junto a circulação e os quartos o que privatiza seu uso. Área 3,29m². Também na versão com layout acessível.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/solteiro.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Quarto 01</h3>
                                <p class="text-muted mb-0">3,00x4,00 Com área de 11,08m² layout para duas camas solteiro, armário embutido, escrivaninha e mesas de cabeceira. Opção de janela ou porta de correr em duas folhas para acesso aos fundos do terreno.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/casal.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Quarto 02***</h3>
                                <p class="text-muted mb-0">2,50x4,50 Cama de casal, armário espaçoso, escrivaninha, televisão e mesas de cabeceira. Porta de correr em duas folhas para acesso aos fundos do terreno.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/circ.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Circulação</h3>
                                <p class="text-muted mb-0">1,13x2,75 Largura generosa, facilita a circulação de móveis e a decoração do ambiente</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="fs-1 text-primary"><img class="icon-image" src="{% static 'assets/img/icons/lavanderia.jpeg' %}" alt=""></i>
                                </div>
                                <h3 class="h4 mb-2">Área de Serviço</h3>
                                <p class="text-muted mb-0">1,50x4,00 Coberta, servida de espaços para: tanque, máquina de lavar, armário despensa e dois varais para secar roupas em dias de chuva. Além de espaço para depósito de gás externo, seguro, permite sua troca sem a entrada na casa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid p-0 mt-5">
                    <div class="row g-0">
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/1.jpg' %}" title="Sala Estar/Jantar">
                                <img class="img-fluid m1" src="{% static 'assets/img/portfolio/thumbnails/1.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Casa 15</div>
                                    <div class="project-name">Sala Estar/Jantar</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/2.jpg' %}" title="Sala Jantar/Cozinha">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/2.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Sala Jantar/Cozinha</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/3.jpg' %}" title="Sala Jantar/Cozinha">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/3.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Sala Jantar/Cozinha</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/4.jpg' %}" title="Quarto Casal">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/4.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Quarto Casal</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/5.jpg' %}" title="Quarto Solteiro">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/5.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Quarto Solteiro</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/6.jpg' %}" title="Banheiro Social">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/6.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption p-3">
                                    <div class="project-category text-white-50">Category</div>
                                    <div class="project-name">Banheiro Social</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/7.jpg' %}" title="Sala Estar/Jantar">
                                <img class="img-fluid m1" src="{% static 'assets/img/portfolio/thumbnails/7.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Casa 15</div>
                                    <div class="project-name">Sala Estar/Jantar</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/8.jpg' %}" title="Sala Jantar/Cozinha">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/8.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Sala Jantar/Cozinha</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/9.jpg' %}" title="Sala Jantar/Cozinha">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/9.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Sala Jantar/Cozinha</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/10.jpg' %}" title="Quarto Casal">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/10.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Quarto Casal</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/11.jpg' %}" title="Quarto Solteiro">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/11.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">CASA 15</div>
                                    <div class="project-name">Quarto Solteiro</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/12.jpg' %}" title="Banheiro Social">
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/12.jpg' %}" alt="..."/>
                                <div class="portfolio-box-caption p-3">
                                    <div class="project-category text-white-50">Category</div>
                                    <div class="project-name">Banheiro Social</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About-->
            <section class="page-section bg-primary" id="about">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="text-white mt-0">Quem somos e qual a ideia?</h2>
                            <hr class="divider divider-light"/>
                            <p class="text-white-75 mb-4">Somos um time de Arquitetura e Engenharia com mais de 10 anos de experiência que pensou um projeto de uma casa de baixo custo e alta qualidade, com todos os projetos necessários para execução da sua casa própria, tudo isso por um preço acessível.
                            </p>
                            <a class="btn btn-light btn-xl" href="#services">Vantagens</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services-->
            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <h2 class="text-center mt-0">O que você recebe:</h2>
                    <hr class="divider"/>
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="bi-gem fs-1 text-primary"></i>
                                </div>
                                <h3 class="h4 mb-2">Projeto de Arquitetura</h3>
                                <p class="text-muted mb-0">O projeto de arquitetura
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="bi-laptop fs-1 text-primary"></i>
                                </div>
                                <h3 class="h4 mb-2">Projetos Complementares</h3>
                                <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="bi-globe fs-1 text-primary"></i>
                                </div>
                                <h3 class="h4 mb-2">Manual de Execução</h3>
                                <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2">
                                    <i class="bi-heart fs-1 text-primary"></i>
                                </div>
                                <h3 class="h4 mb-2">Planilha de Quantitativos</h3>
                                <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Call to action-->
            <section class="page-section bg-dark text-white">
                <div class="container px-4 px-lg-5 text-center">
                    <h2 class="mb-4">DE R$499,00 por R$399,00 na pré venda!</h2>
                    <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Dividido em até 12x no cartão</a>
                </div>
            </section>
            <!-- Contact-->
            <section class="page-section" id="contact">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6 text-center">
                            <h2 class="mt-0">Compre agora na pré-venda!</h2>
                            <hr class="divider"/>
                            <p class="text-muted mb-5">Com a pré venda você garante seu projeto com 20% de desconto!</p>
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                        <div class="col-lg-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                                <form
                                id="contactForm" data-sb-form-api-token="API_TOKEN"> <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"/>
                                    <label for="name">Nome completo</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email"/>
                                    <label for="email">Email</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required"/>
                                    <label for="phone">Número de telefone</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required"/>
                                    <label for="phone">CPF</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                    <div class="d-none" id="submitSuccessMessage"> <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br/>
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"> <div class="text-center text-danger mb-3">Error sending message!</div>
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Compre agora!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-4 text-center mb-5 mb-lg-0">
                            <i class="bi-phone fs-2 mb-3 text-muted"></i>
                            <div>(28)99920-7888</div>
                        </div>
                    </div>
                </div>
            </section>
        </body>
    </main>

{% endblock %}
